@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the Film Collection!</h1><br /><br />
    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <h4>The Joel Hilton</h4>
</div>

<div class="text-center">
    <a style="color:black" asp-controller="Home" asp-action="AddAMovie">Add a movie to the collection!</a>
</div>
<div class="text-center">
    <a asp-controller="Home" asp-action="MovieList">View the Movie List!</a>
</div>